@model IEnumerable<DirectorsManual.Web.Areas.Admin.Models.FunctionsModel3>

@if (TempData["message"] == null)
{
    <table class="table">
        <tr>
            <th>
                ID of Contract Product
            </th>
            <th>
                SummProfit
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.idContProd)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.SummProfit) грн.
                </td>

            </tr>
        }

    </table>}
else
{
    <div class="alert alert-danger">@TempData["message"]</div>
}
@Styles.Render("~/Content/css")
@Scripts.Render("~/bundles/bootstrap")